<!-- public/index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

  <link rel="stylesheet" href="styles.css">
  <title>お絵描きチャット</title>
</head>
<body>
  <canvas id="canvas"></canvas>

  <div class="controls">
    <div class="main">
      <input type="range" id="thickness" min="1" max="50" value="20">
      <input type="color" id="color" class="form-control form-control-color" value="#000000">
      <button id="pen" class="btn btn-outline-info active">
        <i class="bi-pencil-fill"></i>
      </button>
      <button id="eraser" class="btn btn-outline-info">
        <i class="bi-eraser-fill"></i>
      </button>
      <button id="clear" class="btn btn-outline-info">
        <i class="bi-file-excel-fill"></i>
      </button>
    </div>
    
    <div id="ip-address"><%= localIpAddress ? 'このアドレスをブラウザで開こう→ '+ localIpAddress : ''%></div>

  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="script.js"></script>
</body>
</html>
